<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bøger</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<%- include('partials/menu') %>

	<h1>BOOKS!</h1>

	<form method="post">
		<div>
			<label>Titel:</label>
			<input type="text" name="title" required
				value="<%= typeof book != 'undefined' && book != null ? book.title : '' %>">
		</div>
		<div>
			<label>Forfatter:</label>
			<input type="text" name="author" required
				value="<%= typeof book != 'undefined' && book != null ? book.author : '' %>">
		</div>
		<div>
			<label>Sider:</label>
			<input type="number" name="pages" required
				value="<%= typeof book != 'undefined'  && book != null? book.pages : '' %>">
		</div>
		<button>Gem</button><a href="/book">Annuller</a>
	</form>


	<% if(typeof books != 'undefined' && books.length > 0) {  %>

	<table>
		<tr>
			<th>Action</th>
			<th>Id</th>
			<th>Titel</th>
			<th>Forfatter</th>
			<th>Sider</th>
		</tr>

		<% books.forEach((book)=>{%>

		<tr>
			<td>
				<a href="/book/edit/<%= book._id %>">RET</a>
				<a href="/book/delete/<%= book._id %>" onclick="return confirm('Er du sikker på du vil slette?')">SLET</a>
			</td>
			<td class="faded"><%= book._id %></td>
			<td><%= book.title %></td>
			<td><%= book.author %></td>
			<td><%= book.pages %></td>
		</tr>

		<%}) %>

	</table>

	<% } %>


</body>

</html>